$colors: (
    body: (
        color: #666666,
    ),
    heading: (
        color: #000038,
    ),
    theme: (
        primary: rgb(14, 34, 105),
        primary-two: rgb(82, 174, 29),
        secondary: rgb(82, 174, 29),
    ),
    color: (
        dark-blue: #0E104B,
        dark-blue-two: #001B31,
        dark-blue-three: #0F2C44,
        yellow-light: #FFB930,
        yellow-light-2: #DED9CE,
        white-default: rgb(252, 252, 253),
        sky-blue: #7EA7C8,
        sky-blue-two: #7E93A4,
        gray-1: #DCDCEC,
        gray-2: #C3C3EC,
        gray-3: #EDF6FA,
        gray-4: #F3F8F9,
        gray-5: #DDE3FF,
        gray-6: #96A1B8,
        gray-7: #4C4C5B,
        gray-8: #a6a6a6,
        gray-9: #fceff0,
        gray-10: #F6F6F6,
        gray-11: #F8F8F8,
        gray-12: #F9F9F9,
        gray-13: #696969,
        dark: #1C1A4A,
        black-1: #06042E,
        black-2: #151515,
        black-3: #00002F,
        black-4: #2d2d2d,
        black-5: #000,
    ),
    border: (
        1: #5A5A8E,
        2: #DCE5E9,
        3: #B2BFC5,
        4: #E8ECED,
        5: #C3C3E1,
        6: #E0E0E0,
        7: #E2E2E2,
        8: #DBDBDB,
        9: #1f0f64,
    )
);
